* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-style: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
body {
  background-color: #edeaf3;
  overflow: auto;
  max-width: 100%;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #e3e3e3; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #858585; /* color of the scroll thumb */
}
.board {
  background-color: #eaeaea;
  padding: 20px;
  margin-top: 60px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  // border-top: 3px solid #d9d5e3;
  // border-right: 3px solid #958bab;
  // border-bottom: 3px solid #958bab;
  // border-left: 3px solid #d9d5e3;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  &__info {
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
  }
  &__table {
    width: auto;
    border-spacing: 0;
    text-align: center;
    cursor: pointer;
  }
  &__cell {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    background: #d2c7ec;

    border-top: 3px solid #e6e1f2;
    border-right: 3px solid #9286ae;
    border-bottom: 3px solid #9286ae;
    border-left: 3px solid #e6e1f2;
    .board_startGame &_active {
      background: #feef99;
      border: 1px solid #cbb951;
    }
    // .board_startGame &:active:not(.board__cell_opened) {
    //   background: #feef99;
    //   border: 1px solid #cbb951;
    // }

    &_opened {
      background: #feef99;
      border: 1px solid #cbb951;
    }
    &_flag {
      background: url("../../img/flags/flag.png") #d2c7ec no-repeat;
      background-size: cover;
    }
    &_mine {
      background: url(../../img/mine/mine.png) #feef99 no-repeat;

      background-size: 100%;
    }
    &_mine-click {
      background: url(../../img/mine/mine.png) rgb(200, 3, 3) no-repeat;
      background-size: 100%;
      border: 1px solid #8f8f8f;
    }
    &_one-mine {
      color: #0066cb;
    }
    &_two-mines {
      color: #01b601;
    }
    &_three-mines {
      color: #d41313;
    }
    &_four-mines {
      color: #ff0080;
    }
    &_five-mines {
      color: #6400c7;
    }
    &_six-mines {
      color: #ff8000;
    }
    &_seven-mines {
      color: #929201;
    }
    &_eight-mines {
      color: #c01570;
    }
  }
}

.menu {
  color: #342b4d;
  max-width: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  &__countMines {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  &__reload {
    flex: 1;
    margin-right: 20px;
  }
  .board_startGame &__img {
    width: 70px;
    height: 70px;
    background: url("../../img/menu/menu__reload/1.png") #eaeaea no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .board_won &__img {
    width: 70px;
    height: 70px;
    background: url("../../img/menu/menu__reload/4.png") #eaeaea no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
  &__reload_scary &__img {
    width: 70px;
    height: 70px;
    background: url("../../img/menu/menu__reload/2.png") #eaeaea no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
  &__img {
    width: 70px;
    height: 70px;
    background: url("../../img/menu/menu__reload/3.png") #eaeaea no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  &__timer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__paragraph {
    font-size: 16px;
    margin-bottom: 5px;
    // font-weight: normal;
  }
  &__span {
    color: rgb(86, 33, 33);
  }
  &__timer-paragraph {
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__timer-seconds {
    color: rgb(86, 33, 33);
  }

  // &__
}

.settings {
  font-size: 16px;
  display: flex;

  margin-bottom: 10px;
  &__title {
    margin-right: 10px;
  }
  &__level {
    cursor: pointer;
  }
}

// @media (max-width: 500px) {
//   .board {
//     width: 100%;
//     // padding: 0;
//     padding-top: 15px;
//     margin: 0;
//     &__cell {
//       width: 40px;
//       height: 40px;
//     }
//   }
// }
@media (max-width: 900px) {
  body {
    width: auto;
    min-width: auto;
    min-height: 100vh;
    overflow: scroll;
    // background-color: #edeaf3;
    // justify-content: center;
  }
  .board {
    display: block;
    border: none;
    margin: 20px auto 0 auto;
    padding: 30px;
    &__cell {
      min-width: 40px;
      height: 40px;
      min-height: 40px;
    }
  }
}

@media (max-width: 405px) {
  body {
    position: relative;
  }
  .board {
    padding: 10px;
    padding-top: 20px;
    box-shadow: none;
    // &__info {
    //
    // }
    &__info {
      // background-color: #342b4d;
      // position: fixed;
      // top: 0;
    }
  }

  .settings {
    padding-left: 10px;
  }
}
